<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProTherm Database</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">ProTherm Database</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
        </div>
        <div class="col-9">
        @RenderBody()
        </div>
    </div>
</body>
</html>
