@model ApptTracker.Models.CreateAppt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CreateAppt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="firstname" class="control-label"></label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apptdate" class="control-label"></label>
                <input asp-for="apptdate" class="form-control" />
                <span asp-validation-for="apptdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appttime" class="control-label"></label>
                <input asp-for="appttime" class="form-control" />
                <span asp-validation-for="appttime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apptlength" class="control-label"></label>
                <input asp-for="apptlength" class="form-control" />
                <span asp-validation-for="apptlength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reason" class="control-label"></label>
                <input asp-for="reason" class="form-control" />
                <span asp-validation-for="reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
