<html>
<head>
    <title>ProTherm Database</title>
</head>

<body>
    <h1>Welcome to ProTherm Database</h1>

    <p>
        ProTherm is a database of compiled experimental stability data on mutated proteins.
        The database was last updated in 
        <a href=" https://doi.org/10.1093/nar/gkj103" target="_blank" rel="noopener noreferrer">2006</a>
        but to my knowledge it is currently unavailable. In my 2014 thesis, I used the data 
        contained in ProTherm for my own research but it was just a large text file that required 
        me to create my own python scripts to extract the data I needed. This is a rough 
        first-attempt, web-based implementation of the ProTherm database leveraging ASP.NET Core MVC.
    </p>

</body>

</html>